// Damngood Template
// Version: 0.2.0
// Date: 2025-03-05
// Website: https://damngood.fi

@use "breakpoints.scss" as bp;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: calc(1440px + 4rem);
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    @include bp.breakpoint(md) {
      max-width: calc(1440px + 6rem);
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }

  .content {
    h2 {
      font-size: 1.75rem;
      line-height: 110%;
      @include bp.breakpoint(lg) {
        font-size: 2.5rem;
      }
    }

    p {
      margin-bottom: 2rem;
      text-align: none;

      &:last-child {
        margin-bottom: 0;
      }
    }

    p + ul {
      li:last-child {
        margin-bottom: 2rem;
      }
    }
  }
  .p-lg {
    font-size: 1rem;
    @include bp.breakpoint(lg) {
      font-size: 1.25rem;
    }
  }
  .p-base {
    font-size: 1rem;
    @include bp.breakpoint(lg) {
      font-size: 1.125rem;
    }
  }
}

:root {
  --bg-pattern-opacity: 1;
}

body {
  background: #f5f5ed;
  position: relative;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  @apply font-body;
}

section {
  padding-bottom: 72px;

  @include bp.breakpoint(md) {
    padding-bottom: 144px;
  }

  &:first-of-type {
    padding-top: 48px;
    @include bp.breakpoint(lg) {
      padding-top: 72px;
    }
  }
  a {
    color: #835f3f !important;
    &:hover {
      text-decoration: underline;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading;
  text-wrap: balance;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1,
h2 {
  font-size: 1.625rem;
  line-height: 100%;
  -webkit-font-smoothing: antialiased;

  @include bp.breakpoint(md) {
    font-size: 3rem;
    letter-spacing: -0.0625rem;
  }
}

h3 {
  font-size: 1.25rem;

  @include bp.breakpoint(xl) {
    font-size: 1.25rem;
  }
}

h4 {
  font-size: 1.125rem;

  @include bp.breakpoint(xl) {
    font-size: 1.313rem;
  }
}

// Moder Widget

.moder-highlight-bg {
  background-color: #a4774f !important;

  path {
    fill: white !important;
  }
}
